@import "reset";
@import "./variables/global";

html,
body {
    height: 100%;
    background-color: var(--bg-primary);
}

body {
    font-family: var(--font-family-main);
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

.link {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    &:hover {
        transition: color var(--transition-default);
        color: var(--text-primary-hover);
    }
}

.scroll-section-outer {
    overflow: hidden;
}

.scroll-section-inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    gap: 40px;
    flex-direction: row;
    position: relative;
}

.scroll-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

*::-webkit-scrollbar {
    display: none;
}

.slide-animation-enter {
    opacity: 0;
    transform: scale(0.9);
}

.slide-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.slide-animation-exit {
    opacity: 1;
}

.slide-animation-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    display: flex !important;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: start;
    align-items: center;
}
