.Documentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 148px 40px 40px 88px;

    @media screen and (max-width: 768px) {
        padding: 15px;
    }
}

.box {
    border-radius: 40px;
    max-width: 860px;
    min-width: 500px;
    background-color: var(--color-bg-card);
    padding: 40px;
    flex-grow: 1;

    @media screen and (max-width: 1880px) {
        width: 40%;
        max-width: 800px;
    }

    @media screen and (min-width: 768px) {
        height: 749px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 15px;
        min-width: 300px;
    }
}

.container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        overflow: visible;
    }
}

.content {
    height: 100%;
    overflow-y: scroll;

    @media screen and (max-width: 768px) {
        overflow-y: visible;
    }
}
