.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    z-index: var(--z-index-navbar);

    @media screen and (max-width: 768px) {
        padding: 20px;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    transform: translateX(-50px);
    padding: 20px 0;
    opacity: 0;

    @media screen and (max-width: 900px) {
        gap: 10px;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    padding: 16px 24px;
    background-color: var(--bg-black);
    border-radius: 80px;
    transform: translateX(50px);
    opacity: 0;

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
    }

    @media screen and (max-width: 350px) {
        gap: 20px;
        padding: 12px 20px;
    }
}

.icon {
    width: 32px;
    height: 32px;
    flex: none;
    color: var(--color-white);
}

.item {
    &:hover {
        .icon {
            transition: color var(--transition-default);
            color: var(--color-white-hover);
        }
    }

    &:active {
        .icon {
            transition: color var(--transition-default);
            color: var(--color-white-active);
        }
    }
}

.mobileItem {
    display: none !important;

    @media screen and (max-width: 768px) {
        display: block !important;
    }
}
