.Catalog {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding: 148px 0 40px 200px;
    background-color: white;

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

.cardContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 44px;

    @media (max-width: 768px) {
        overflow-y: visible;
        width: 100vw;
        padding: 0 15px;
    }

    @media (max-width: 625px) {
        grid-template-columns: repeat(1, 100%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    height: 100%;

    @media screen and (max-width: 768px) {
        padding: 0;
        width: 100%;
    }
}
