.Catalog {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        height: 100vh;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.cardContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 44px;

    @media (max-width: 768px) {
        overflow-y: visible;
    }

    @media (max-width: 768px) {
        overflow-y: visible;
    }

    @media (max-width: 625px) {
        grid-template-columns: repeat(1, 100%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 144px 0 40px 216px;

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}
