.CircleLink {
    background: var(--bg-black);
    color: var(--color-white);
    height: 380px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;

    svg {
        height: 32px;
        width: 230px;
        animation: arrow-animation 2s infinite linear;
        transform: translateX(150px);
    }
}

.arrowLink {
    position: absolute;
    transform: translateY(100px);

    @media screen and (max-width: 768px) {
        transform: rotate(90deg) translateY(110px);
    }
}

.text {
    max-width: 300px;

    h1 {
        line-height: 64px !important;
    }

    text-align: center;
}

@keyframes arrow-animation {
    0% {
        transform: translateX(150px);
    }

    50% {
        transform: translateX(170px);
    }

    100% {
        transform: translateX(150px);
    }
}
