.CatalogCard {
    position: relative;
    height: 352px;
}

.card {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px;
    width: 234px;
}

.cardImageContainer {
    width: 100%;
    height: 262px;
    margin-bottom: 16px;
}

.cardImage {
    height: 100%;
    width: 100%;
}

.details {
    position: absolute;
    right: -266px;
    height: 100%;
    width: 246px;
    z-index: var(--z-index-card-popup);
    background-color: var(--bg-primary);
    padding: 8px;
}

.btn {
    width: 100%;
    border-radius: 10px;
    padding: 16px 0;
}

.content {
    overflow: scroll;
}

.titleContainer {
    width: 100%;
    white-space: nowrap; /* запрещаем перенос текста на новую строку */
    overflow: hidden; /* скрываем текст, выходящий за границы контейнера */
    text-overflow: ellipsis; /* добавляем многоточие */
}
